* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  background-color: #f0f5ff;
}

.container {
  display: flex;
  justify-content: center;
}
/*****************/
/* SEARCH BUTTON */
/*****************/

.search {
  display: flex;
  justify-items: center;
  position: absolute;
  bottom: 1rem;
  left: 13.6rem;
}

.btn {
  background-color: #232c3d;
  color: #f0f5ff;
  padding: 1rem 1.5rem;
  border-radius: 100px;
  text-decoration: none;
  border: none;
  justify-content: center;
  margin-top: 1rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.08);
  transition: all 0.2s;
}

.btn:active,
.btn:hover {
  transform: translateY(-0.125rem);
  background-color: #3096e9;
}

/**********/
/*  Card  */
/**********/

.card {
  position: relative;
  height: 46rem;
  width: 32rem;
  border-radius: 2rem;
  background-color: #fdfdfd;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.08);
  margin: 8.2rem 6.4rem 0 0;
  transition: all 0.4s;
  overflow-y: auto;
}

.card:hover {
  transform: translateY(-0.5rem);
}

.photo-banner {
  overflow: hidden;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  max-height: 19rem;
  overflow: hidden;
}

.img-tube {
  width: 100%;
}

.content {
  padding: 1.5rem 2rem 1rem 2rem;
}

.title-card {
  font-size: 2.4rem;
  font-weight: 400;
  color: rgb(20, 20, 20);
  margin-bottom: 2.8rem;
  line-height: 1.25;
}

/*****************/
/* icon symbology */
/*****************/
.fa-icon {
  font-size: 2rem;
}

.icon-green {
  color: green;
}
.icon-amber {
  color: orange;
}
.icon-red {
  color: red;
}
